@value homeWhite from "../../common/colors.css";

.bookmark {
  top: 93px;
  left: 50px;
  height: 90px;
  display: flex;
  position: absolute;
  padding: 10px;
  z-index: 10;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  font-size: 1.5em;
  background-color: transparent;
  border: 0;
  color: homeWhite;
  cursor: pointer;
  display: none;
}

.delButton {
  display: flex;
  position: absolute;
  top: 9px;
  font-size: 17px;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
  z-index: 10;
}

.bookmark:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.bookmark:hover .delButton {
  opacity: 1;
}

.bookmark:hover .addButton {
  display: block;
}

.item {
  margin-right: 10px;
}

.link {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  margin: auto;
  margin-right: 10px;
}

.title {
  display: block;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
}
