@value homeWhite from "../../common/colors.css";

.todolist {
  width: 200px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  margin: 0 auto;
  left: 50px;
  top: 180px;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
}

.list {
  padding: 0 20px;
  border-radius: 5px;
  position: absolute;
}

.checkboxList {
  width: 200px;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

h6 {
  margin: 0;
  word-wrap: break-word;
}

.inputForm {
  display: none;
  transform: translateY(250px);
  height: 20px;
  border-radius: 5px;
}

.inputForm form {
  display: flex;
  justify-content: center;
}

.inputForm input {
  width: 180px;
  height: 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.inputForm input::placeholder {
  font-size: 10px;
  text-align: center;
}

.inputForm input:focus {
  outline: none;
}

.hidden {
  display: block;
}

.addButton {
  font-size: 30px;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: -15px;
  right: 85px;
}

.delButton {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}
