@value homeWhite, homeBlack from "../../common/colors.css";

.title {
  position: absolute;
  top: 230px;
  left: 195px;
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: homeBlack;
  z-index: 1;
}

.todolist {
  width: 400px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  margin: 0 auto;
  left: 50px;
  top: 250px;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
}

.list {
  padding: 0 20px;
  border-radius: 5px;
  position: absolute;
}

.checkboxList {
  padding-top: 5px;
  width: 380px;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

h4 {
  margin: 0 5px;
  font-size: 20px;
}

.inputForm {
  transform: translateY(520px);
  height: 20px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.inputForm form {
  display: flex;
  justify-content: center;
}

.inputForm input {
  width: 380px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.inputForm input::placeholder {
  font-size: 20px;
  text-align: center;
}

.inputForm input:focus {
  outline: none;
}

.visible {
  pointer-events: auto;
  opacity: 1;
}

.addButton {
  font-size: 40px;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: -25px;
  right: 180px;
  transition: transform 0.2s ease-in;
}
.rotate {
  transform: rotate(45deg);
}

.allDelButton {
  font-size: 30px;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.selectDelButton {
  font-size: 30px;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .title {
    left: 120px;
  }
  .todolist {
    width: 250px;
    height: 400px;
  }

  .inputForm {
    transform: translateY(300px);
  }

  .inputForm input {
    width: 200px;
    height: 30px;
    font-size: 20px;
  }

  .inputForm input::placeholder {
    font-size: 12px;
  }

  .checkboxList {
    padding-top: 5px;
    width: 250px;
    height: 270px;
  }

  .addButton {
    right: 105px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    display: none;
  }
}
