.select {
  width: 350px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 200px;
  right: 410px;
  border-radius: 15px;
}

.option {
  width: 50%;
  height: 30px;
  font-weight: bold;
  border-radius: 5px;
}

input {
  margin-left: 10px;
  width: 50%;
  height: 25px;
  border-radius: 5px;
  border: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

input::placeholder {
  text-align: center;
}

input:focus {
  outline: none;
}
