.select {
  width: 350px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  bottom: -50px;
  right: 10px;
}

.option {
  width: 50%;
  height: 30px;
  font-weight: bold;
  border-radius: 5px;
}

.schoolInput {
  margin: 0 10px;
  width: 50%;
  height: 25px;
  border-radius: 5px;
  border: 0;
  text-align: center;
  font-weight: bold;
  font-size: 0.9em;
}

.schoolInput::placeholder {
  text-align: center;
}

.schoolInput:focus {
  outline: none;
}

@media screen and (max-height: 800px) {
  .select {
    bottom: -25px;
  }
}
