.calendar {
  position: absolute;
  transform: translateX(480px);
  top: 250px;
  width: 1000px;
  height: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.title {
  font-size: 12px;
  margin: 0;
}

.description {
  font-size: 12px;
  padding: 3px;
  white-space: normal;
  color: #f19066;
}
