@value homeBlack from "../../common/colors.css";

.time {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5em;
  color: homeBlack;
}

@media screen and (max-height: 800px) {
  .time {
    font-size: 3em;
  }
}
