@value homeWhite from "../../common/colors.css";

.header {
  z-index: 1;
  color: homeWhite;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.right {
  display: flex;
  align-items: center;
}

.select {
  position: absolute;
  bottom: -35px;
  right: 300px;
}
